---
---

@import "header";
@import "colours";

body {
    box-sizing: border-box;
}

a {
    transition: all 0.3s linear 0s;
    text-decoration: none;
}

a:focus, a:hover, a:visited {
    text-decoration: none;
}
