---
---

@import "header";
@import "colours";
@import "footer";
@import "fonts";
@import "home";
@import "breakpoints";

body {
    box-sizing: border-box;
}

a {
    transition: all 0.3s linear 0s;
    text-decoration: none;
}

main {
  min-height: calc(100vh - 70px);
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

a:focus, a:hover, a:visited {
    text-decoration: none;
}
