---
---

@import "header";
@import "colours";
@import "footer";
@import "main";

body {
    box-sizing: border-box;
}

a {
    transition: all 0.3s linear 0s;
    text-decoration: none;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

a:focus, a:hover, a:visited {
    text-decoration: none;
}
