<header class="header">

    <div class="header__flex-container">

        <!-- Logo -->
        <div class="header__logo">
          <a href="/" >DevOpsGirls</a>
        </div>
            <!-- Burger button -->
        <button id="open-burger" class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <!-- Large screen nav -->
        <div class="header__nav">
            <div class="nav">
                <a class="nav__item" href="#"/>About</a>
                <a class="nav__item" href="{{site.url}}/materials/"/>Materials</a>
                <a class="nav__item" href="#"/>News</a>
                <a class="nav__item" href="#"/>Contact</a>
            </div>
        </div>
    </div>

    <!-- Small screen nav -->
    <div class="small-menu small-menu--hidden">
        <a class="small-menu__item small-menu__item--margin" href="#"/>About</a>
        <a class="small-menu__item" href="{{site.url}}/materials/"/>Materials</a>
        <a class="small-menu__item" href="#"/>News</a>
        <a class="small-menu__item" href="#"/>Contact</a>
    </div>

    <script type="text/javascript">
    $('#open-burger').click(function() {
        var burgerIcon = '#open-burger';
        var burgerIconModifier = 'is-active';
        var menuContent = '.small-menu';
        var modifierClass = 'small-menu--hidden';

        if ($(menuContent).hasClass(modifierClass)) {
            $(menuContent).removeClass(modifierClass);
            $(burgerIcon).addClass(burgerIconModifier);
        } else {
            $(menuContent).addClass(modifierClass);
            $(burgerIcon).removeClass(burgerIconModifier);
        }
    });
    </script>
</header>
