<header class="header">
    <div class="header__logo">LOGO</div>
    <div id="open-burger" class="burger-close-button">
        <span>burger placeholder</span>
    </div>
    <div class="header__nav">
        <div class="nav">
            <a class="nav__item" href="#"/>About</a>
            <a class="nav__item" href="/materials"/>Materials</a>
            <a class="nav__item" href="#"/>News</a>
            <a class="nav__item" href="#"/>Contact</a>
        </div>
    </div>
    <div class="burger burger--hidden">
        <a class="burger__item burger__item--margin" href="#"/>About</a>
        <a class="burger__item" href="/materials"/>Materials</a>
        <a class="burger__item" href="#"/>News</a>
        <a class="burger__item" href="#"/>Contact</a>
    </div>

    <script type="text/javascript">
        $('#open-burger').click(function() {
            var $burgerElement = '.burger';
            var modifierClass = 'burger--hidden';

            if ($($burgerElement).hasClass(modifierClass)) {
                $($burgerElement).removeClass(modifierClass);
            } else {
                $($burgerElement).addClass(modifierClass);
            }
        });
    </script>
</header>
