@import "./_colours.scss";
@import "./_breakpoints.scss";
@import "./_fonts.scss";

.header {
    position: relative;
    font-family: $font-monserrat;
    text-transform: uppercase;
    background-color: $charcoal;
    color: #fff;

    &__flex-container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: inline-block;
        width: 50%;
        margin: 20px;
        font-family: $font-press-start;

        & a {
            font-size: 15px;
            color: #fff;

            @media(min-width: $large-screen) {
                font-size: 20px;
            }
        }
    }

    &__nav {
        display: none;

        @media(min-width: $large-screen) {
            display: inline-block;
            width: 45%;
        }
    }
}

// Large screen nav
.nav {
    display: none;

    @media(min-width: $large-screen) {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;

        &__item {
            margin: 20px;
            color: $transparent-white;

            &:hover {
                color: #fff;
            }

            &:visited {
                color: $transparent-white;
            }
        }
    }

}

// unfortunately the lib CSS overrides this display.
.hamburger, {
    width: 45%;
    text-align: right;

    @media(min-width: $large-screen) {
        display: none !important;
    }

    .hamburger-inner {
        background-color: $transparent-white !important;
        width: 30px;
        &::before, &::after {
            width: 30px;
            background-color: $transparent-white !important;
        }
    }

}

// Smaller screen nav
.small-menu {
    position: relative;

    &--hidden {
        display: none;
    }

    &__item {
        display: block;
        text-align: center;
        padding: 20px;
        color: $transparent-white;

        &--margin {
            padding: 40px 10px 10px 10px;
        }

        &:hover {
            color: #fff;
        }

        &:visited {
            color: $transparent-white;
        }

    }

    @media(min-width: $large-screen) {
        display: none;
    }
}

.hero-image {
     width: 100%;
}

img {
     width: 100%;
}
