@import "./_colours.scss";
@import "./_breakpoints.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.header {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: $charcoal;
    color: #fff;
    padding: 20px 0;

    &__logo {
        display: inline-block;
        width: 50%;
    }

    &__nav {
        display: inline-block;
        width: 45%;
    }

}

// Large screen nav
.nav {
    display: none;

    @media(min-width: $large-screen) {
        list-style: none;
        display: flex;
        justify-content: flex-end;

        &__item {
            margin: 20px;
            color: $transparent-white;

            &:hover {
                color: #fff;
            }

            &:visited {
                color: $transparent-white;
            }
        }
    }

}

.hamburger {
    width: 45%;
    text-align: right;

    @media(min-width: $large-screen) {
        // unfortunately the lib CSS overrides this display.
        display: none !important;
    }
}

// Smaller screen nav
.small-menu {
    position: relative;

    &--hidden {
        display: none;
    }

    &__item {
        display: block;
        text-align: center;
        padding: 20px;
        color: $transparent-white;

        &--margin {
            padding: 40px 10px 10px 10px;
        }

        &:hover {
            color: #fff;
            background-color: $dark-grey;
        }

        &:visited {
            color: $transparent-white;
        }

    }

    @media(min-width: $large-screen) {
        display: none;
    }
}
