@import "./_breakpoints.scss";

.hero {
    height: 60vh;

    &__image {
        background: linear-gradient(
            $transparent-white,
            $transparent-white
       ), url("../assets/preeti.jpg");
        height: 100%;
        background-color: $purple-ish; // fallback colour
        background-position: center;
        background-size: cover;
    }

    @media(min-width: $medium-screen) {
        height: 70vh;
    }

    @media(min-width: $large-screen) {
        height: 90vh;
    }
}
