
main {
  min-height: calc(100vh - 70px);
  text-align: center;

  ul {
    list-style-type: none;
    padding-top: 35px;
    padding-bottom: 35px;

    li {
      a {
        font-size: 1.4em;
        margin: 10px 0;
        line-height: 2;
      }
    }
  }
}
